<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- vo와 쿼리간에 대소문자 구분 없이 매핑을 활성화 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
</configuration>